body {
  background-color: #B6B6B4;
  font-size:24;
  font-family:sans-serif;
  font: Arial;
}

div{
  text-align:center;
  font-size-adjust:none;
  font-size:24;
  color:green;
}

.icon{
  padding-left:10px;
  length:50px;
  width:100px;
}

.login{
  border: black solid 3px;
  background-color:white;
  padding-right:50px;
  text-align:center;
  width:20%;
}

.navigation{
    border: black solid 3px;
    background-color:white;
    text-align:center;
    width:10%;
}
