body {
  background-color: #B6B6B4;
  font-size:24;
  font-family:sans-serif;
  font: Arial;
}

div{
<<<<<<< HEAD
  text-align:center;
  font-size-adjust:none;

=======
  text-align:right;
  font-size:24;
  color:green;
>>>>>>> 3d4e4c7e15af680e9309a44127157393dad429d5
}

.icon{
  padding-left:10px;
  length:50px;
  width:100px;
}

.login{
  border: black solid 3px;
  background-color:white;
  padding-right:100px;
  text-align:right;
  width:20%;
}
