/* I assume that   stylebody class="login"    refers to the .login here */
body {

  background-color: #1AC5FF;
  font-size:24;
  font-family:sans-serif;
  font: Arial;
}

table{
  background-color:white;
  border: 3px solid black;
  align:center;
  width:100%;
  border:2;
}

td{
  align:center;
  border:groove;
  padding:5px; /* makes height */
}

err{
  color:red;
  font-size:25;
}

div{
  text-align:center;
  font-size-adjust:none;
  font-size: 200%; /* changing this number doesn't change the size of the letter... How misleading */
  color:green; /* at least this can be changed */
}

.add{
  padding:2px;
  width:70%;
  height:40%;
}

.welcome{
  text-align:left;
  font-size:24;
  color:green;
}

<! --.login{
  background-image: url('quill.png');
}
-->
.icon{
  padding-left:60px; /* from the left, how much indent */
  length:100px; /* self explainatory for both */
  width:200px;
}

.loginform{
  border: black solid 3px;
  background-color:white;
  padding-right:50px;
  width:20%;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align:center;
}

.navigation{
    border: black solid 3px;
    background-color:white;
    text-align:center;
    width:10%;
}

.content{
  width:80%;
}

.author{
  width:20%;
}
