{% extends "master.html" %}
{% block title %}Register!{% endblock %}

{% block body %}
{% if err %}
<err>{{err}}</err>
{% endif %}
<form class="login" method="POST">
  <br>
  <div>Register</div><br>
	Username:<input type = "text" name = "username" placeholder="Username"></input><br><br>
	Password:<input type = "password" name = "password" placeholder="Password"></input><br><br>
  <center>
	<input type="submit" name="button" value="Register"></input>
	<input type="submit" name="button" value="Login"></input>
  </center>
</form>
</center>
{% endblock %}
