{% extends "master.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
<div>{{title}}</div>
<table>
{% set x_x = 0 %}
{% for post in posts %}
{% if post["NUMID"] == 0 %}
{% set x_x = 1 %}
{% if x_x != 1 %}

 {{post["content"] | safe }}
{% endif %}
{% endif %}
{% if post["NUMID"] > 0 %}

<tr>
  <td class="content">{{post["content"]}}</td>
  <td class="author">By - {{post["user"]}}</td>
</tr>

{% endif %}
{% endfor %}
</table><br>
  <form method="POST" class="add">
    <textarea name="content" style="width:90%;" rows="4"></textarea><input type="submit" value="Submit">
  </form>
{% endblock %}
